*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: white;
}
html,body{
   height: 100%;
   width: 100%; 
}

nav{
    position: fixed;
    background-color: red;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 2vw 10vw;
    align-items: center;
    justify-content: space-between;
}
.nav2{
    display: flex;
    flex-direction: row;
}
.nav2 h4{
    font-size:0.6vw;
    font-weight: 400;
    text-transform: uppercase;
    margin: 1.5vw ;
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
#page1 h1{
    font-size: 8.5vw;
    text-transform: uppercase;
    font-weight:900 ;
    line-height: 8.5vw;
}
#page1 p{
    font-size: 2vh;
    text-align: center;
    margin-top: 3vh;
    font-weight: 400;
}
#page2{
    height: 100vh;
    width: 100%;
    background-color: #111;
}

#page1 h1 img{
    width: 40px;
    border-radius: 20px;
    background-color: green;
}

#page1_ele{
    display: flex;
    /* font-size: 1vw; */
    text-align: center;
    justify-content: center;
}
#page1_ele h4{
    font-size: 1.5vw;
    font-weight: 400;
    padding: 5px 10px;
    border: 1px solid #fff;
    border-radius: 50px;
    margin-top: 0.5vw;
    border-width: 1px;
}

#page1_ele h4:nth-last-child(2){
    border: 0;
}

